<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<meta charset="UTF-8"></meta>
    <title>Title</title>
</head>
<body>
<form action="pushImage" method="post" enctype="multipart/form-data">
    <table>
        <tr>
            <td width="50" align="left">图片：</td>
            <td><input type="file" name="file"></input></td>
        </tr>
        <tr>
            <td width="50" align="left">输入文字：</td>
            <td><input type="text" name="text"></input></td>
        </tr>
        <tr>
            <td><input type="submit"></input> </td>
        </tr>
    </table>
</form>
</body>
</html>